.wrapperContactForm {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 20px;
}

.formContactForm {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 15px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 4px 4px grey;
    padding: 20px;
    background-color: white;
    margin: 0 auto;
    width: 400px;
}

.labelContactForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

}

.inputContactForm {
    padding: 8px 20px;
    height: 32px;
    border-radius: 6px;
    border: 1px solid grey;
    transition: all 300ms ease;
    width: 100%;
}

.inputContactForm {
    outline: none;
}

.buttonContactForm {
    cursor: pointer;
    box-shadow: none;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 5px;
}

.buttonContactForm:hover {
    color: white;
    background-color: blue;
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    outline: none;
}

.buttonContactForm:active {
    transform: scale(0.95);
    box-shadow: none;
    border: none;
}

.errorMessage {
    color: red;
}